<!doctype html>
<html lang="en">
<head>
  <meta charset-"utf-8">
  <title>Grumpy, Guvnah?</title>
</head>
<body>
  
  <div class="app-container">
      <!-- Backbone views will be appended here! -->
  </div>

  <script type="text/template" data-template-name="user-input">
   <input name="zip-code" class="zip-code" placeholder="Zip Code">
   <a href="#rep/<%= zip %>">Go!</a> 
  </script>

  <script type="text/template" data-template-name="display-results">
      <h2>Legislators:</h2>
      <% _.each(reps, function(rep) { %>
        <h4><%= rep.get('last_name') %></h4>
      <% }); %>
  </script>
  
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="js/tokens.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
