$primary-gray: #7F7F7E;
$primary-light-yellow: #FFDD4C;
$primary-dark-yellow: #FFCF00;

* { box-sizing: border-box; }

html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  width: 100%;
}

body {
  background-color: $primary-gray;
  text-align: center;
  .app-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
}

.splash {
  h1 {
    color: white;
    font-size: 80px;
    text-shadow: 2px 1px 2px #333, 5px 5px 8px $primary-dark-yellow;
  }
  h4 {
    color: $primary-light-yellow;
    font-family: sans-serif;
  }
}

.zip-code {
  width: 200px;
  height: 50px;
  outline: none;
  border: 1px solid white;
  background: $primary-gray;
  color: white;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 1px $primary-light-yellow;
}

.legislator-container {
  padding-top: 150px;

  h2 {
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 1px #333;
  }}

.legislator {
  display: inline-block;
  color: white;
  margin: 20px;
  img {
    border-radius: 50%;
  }
  h3 {
    text-shadow: 1px 1px 1px #333, 2px 1px 3px $primary-light-yellow;
    font-size: 25px;
  }
  h4 {
    font-family: sans-serif;
    margin: 2px auto;
    .data { color: $primary-light-yellow; }
    a { color: $primary-light-yellow; }
  }
}

.weather-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease 0.5s;
  h1 {
    font-size: 60px;
    color: white;
    text-shadow: 4px 2px 2px #333;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all ease 0.5s;
    &#moon {
      top: 80px;
      left: 50px;
      stroke: white;
      stroke-width: 5px;
      fill: rgba(225, 225, 225, 0.9);
    }
    &#star-1,
    &#star-2,
    &#star-3,
    &#star-4,
    &#star-5 {
      position: absolute;
      stroke: white;
      stroke-width: 2px;
      fill: white;
    }
    &#star-1 {
      top: 50px;
      left: 10%;
    }
    &#star-2 { 
      top: 35px;
      left: 30%;
    }
    &#star-3 { 
      top: 30px;
      left: 60%;
    }
    &#star-4 {
      top: 40px;
      left: 75%;  
    }
    &#star-5 {
      top: 55px;
      left: 95%;  
    }
    &.cloud { top: 50px; }
    &.cloud use {
      stroke: $primary-gray;
      stroke-width: 2px;
      fill: rgba(225, 225, 225, 0.9);
    }
    &#sun use {
      top: 30px;
      stroke: $primary-light-yellow;
      stroke-width: 5px;
      fill: rgba(255, 221, 76, 0.6);
      #sun #body {
        stroke-width: 1px;
      }
    }
  }
}

@mixin floating($delay) {
  animation-duration: 10s;
  animation-delay: $delay;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: bounce-across;
}

.floating-1 { @include floating(0); } 
.floating-2 { @include floating(1s); }
.floating-3 { @include floating(2s); }

.rocking {
  transform-origin: 50% 50%;
  animation-name: rocking;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@mixin twinkle($delay, $freq) {
 transform-origin: 50% 50%;
 animation-name: twinkle;
 animation-duration: $freq;
 animation-iteration-count: infinite;
 animation-delay: $delay;
}

.twinkle-1 { @include twinkle(0,10s); }
.twinkle-2 { @include twinkle(2,10s); }
.twinkle-3 { @include twinkle(1, 5s); }
.twinkle-4 { @include twinkle(5, 10s); }
.twinkle-5 { @include twinkle(2, 8s); }

@keyframes bounce-across {
  0%, 100% {
    top: 50px;
    left: 0px;
  }
  10%, 90% { 
    top: 70px;
    left: 15%;
  }
  20%, 80% {
    top: 50px;
    left: 30%;
  }
  30%, 70% {
    top: 70px;
    left: 45%;
  }
  40%, 60% {
    top: 50px;
    left: 60%;
  }
  50% { 
    top: 70px;
    left: 75%;
  } 
}

@keyframes rocking {
  0% { transform: rotateZ(45deg); }
  50% { transform: rotateZ(-45deg); }
  100% { transform: rotateZ(45deg); }
}

@keyframes twinkle {
  0% { transform: scale(0.5, 0.5); }
  2% { transform: scale(1, 1); }
  5% { transform: scale(1.5, 1.5); }
  8% { transform: scale(0.5, 0.5); }
  100% { transform: scale(0.5, 0.5); }
}
